Repository Poor-To-Rich/backend, pull requests merged in 2025-04, with the labels that each got.

#42 Feat/#37
  build.gradle
  src/main/java/com/poortorich/PoorToRichApplication.java
  src/main/java/com/poortorich/email/enums/EmailResponse.java
  src/main/java/com/poortorich/email/util/EmailVerificationPolicyManager.java
  src/main/java/com/poortorich/global/exceptions/ForbiddenException.java
  src/main/java/com/poortorich/s3/service/FileUploadService.java
  src/main/java/com/poortorich/security/config/SecurityConfig.java
  src/main/java/com/poortorich/security/constants/SecurityConstants.java
  src/main/java/com/poortorich/user/constants/UserResponseMessages.java
  src/main/java/com/poortorich/user/constants/UserValidationRules.java
  src/main/java/com/poortorich/user/controller/UserController.java
  src/main/java/com/poortorich/user/entity/User.java
  src/main/java/com/poortorich/user/entity/enums/Gender.java
  src/main/java/com/poortorich/user/facade/UserFacade.java
  src/main/java/com/poortorich/user/repository/UserRepository.java
  src/main/java/com/poortorich/user/request/UserRegistrationRequest.java
  src/main/java/com/poortorich/user/response/enums/UserResponse.java
  src/main/java/com/poortorich/user/service/UserService.java
  src/main/java/com/poortorich/user/service/UserValidationService.java
  src/main/java/com/poortorich/user/validator/UserValidator.java
  src/test/java/com/poortorich/global/config/TestDataJpaConfig.java
  src/test/java/com/poortorich/global/testcases/TestCase.java
  src/test/java/com/poortorich/s3/constants/S3TestFile.java
  src/test/java/com/poortorich/user/controller/UserControllerTest.java
  src/test/java/com/poortorich/user/facade/UserFacadeTest.java
  src/test/java/com/poortorich/user/fixture/UserRegisterApiFixture.java
  src/test/java/com/poortorich/user/fixture/UserRegistrationFixture.java
  src/test/java/com/poortorich/user/fixture/enums/BirthValidationCase.java
  src/test/java/com/poortorich/user/fixture/enums/EmailValidationCase.java
  src/test/java/com/poortorich/user/fixture/enums/NameValidationCase.java
  src/test/java/com/poortorich/user/fixture/enums/NicknameValidationCase.java
  src/test/java/com/poortorich/user/fixture/enums/PasswordValidationCase.java
  src/test/java/com/poortorich/user/fixture/enums/UsernameValidationCase.java
  src/test/java/com/poortorich/user/request/UserRegistrationRequestTest.java
  src/test/java/com/poortorich/user/service/UserServiceTest.java
  src/test/java/com/poortorich/user/service/UserValidationServiceTest.java
  src/test/java/com/poortorich/user/util/UserRegistrationRequestTestBuilder.java
  src/test/java/com/poortorich/user/validator/UserValidatorTest.java
  src/test/resources/application-test.properties
Labels: ✨Feature, 🗎Docs, ⚙️Setting, 🛠️Refactor, ✔️Test, 📬API

#43 [#41] 지출 가계부 추가 API 구현
  src/main/java/com/poortorich/PoorToRichApplication.java
  src/main/java/com/poortorich/category/repository/CategoryRepository.java
  src/main/java/com/poortorich/category/service/CategoryService.java
  src/main/java/com/poortorich/expense/constants/ExpenseResponseMessages.java
  src/main/java/com/poortorich/expense/constants/ExpenseValidationConstraints.java
  src/main/java/com/poortorich/expense/controller/ExpenseController.java
  src/main/java/com/poortorich/expense/entity/Expense.java
  src/main/java/com/poortorich/expense/entity/enums/IterationType.java
  src/main/java/com/poortorich/expense/entity/enums/PaymentMethod.java
  src/main/java/com/poortorich/expense/facade/ExpenseFacade.java
  src/main/java/com/poortorich/expense/repository/ExpenseRepository.java
  src/main/java/com/poortorich/expense/request/ExpenseRequest.java
  src/main/java/com/poortorich/expense/response/ExpenseResponse.java
  src/main/java/com/poortorich/expense/service/ExpenseService.java
  src/main/java/com/poortorich/global/constants/DatePattern.java
  src/main/java/com/poortorich/security/config/SecurityConfig.java
  src/test/java/com/poortorich/expense/controller/ExpenseControllerTest.java
  src/test/java/com/poortorich/expense/facade/ExpenseFacadeTest.java
  src/test/java/com/poortorich/expense/fixture/ExpenseApiFixture.java
  src/test/java/com/poortorich/expense/fixture/ExpenseFixture.java
  src/test/java/com/poortorich/expense/fixture/enums/CategoryNameValidationCase.java
  src/test/java/com/poortorich/expense/fixture/enums/CostValidationCase.java
  src/test/java/com/poortorich/expense/fixture/enums/DateValidationCase.java
  src/test/java/com/poortorich/expense/fixture/enums/MemoValidationCase.java
  src/test/java/com/poortorich/expense/fixture/enums/TitleValidationCase.java
  src/test/java/com/poortorich/expense/request/ExpenseConverterTest.java
  src/test/java/com/poortorich/expense/request/ExpenseRequestValidTest.java
  src/test/java/com/poortorich/expense/service/ExpenseServiceTest.java
  src/test/java/com/poortorich/expense/util/ExpenseRequestTestBuilder.java
  src/test/java/com/poortorich/global/util/RequestValidTestHelper.java
Labels: ✨Feature, 🛠️Refactor, ✔️Test, 📬API

#46 [#44] 사용자 인증 로직(로그인, 토큰 재발급, 로그아웃) API 구현
  build.gradle
  docker-compose.yml
  src/main/java/com/poortorich/auth/constants/AuthResponseMessage.java
  src/main/java/com/poortorich/auth/controller/AuthController.java
  src/main/java/com/poortorich/auth/jwt/constants/JwtConstants.java
  src/main/java/com/poortorich/auth/jwt/util/JwtCookieManager.java
  src/main/java/com/poortorich/auth/jwt/util/JwtTokenExtractor.java
  src/main/java/com/poortorich/auth/jwt/util/JwtTokenGenerator.java
  src/main/java/com/poortorich/auth/jwt/validator/JwtTokenValidator.java
  src/main/java/com/poortorich/auth/repository/RedisRefreshTokenRepository.java
  src/main/java/com/poortorich/auth/repository/interfaces/RefreshTokenRepository.java
  src/main/java/com/poortorich/auth/request/LoginRequest.java
  src/main/java/com/poortorich/auth/response/enums/AuthResponse.java
  src/main/java/com/poortorich/auth/service/AuthService.java
  src/main/java/com/poortorich/auth/service/CustomUserDetailsService.java
  src/main/java/com/poortorich/security/config/SecurityConfig.java
  src/main/java/com/poortorich/security/constants/SecurityConstants.java
  src/main/java/com/poortorich/security/filter/auth/JwtAuthenticationFilter.java
  src/main/java/com/poortorich/user/controller/UserController.java
  src/main/resources/application.properties
  src/test/java/com/poortorich/auth/controller/AuthControllerTest.java
  src/test/java/com/poortorich/auth/fixture/LoginRequestFixture.java
  src/test/java/com/poortorich/auth/fixture/enums/PasswordValidationCase.java
  src/test/java/com/poortorich/auth/fixture/enums/UsernameValidationCase.java
  src/test/java/com/poortorich/auth/jwt/fixture/JwtTokenFixture.java
  src/test/java/com/poortorich/auth/jwt/fixture/JwtUserFixture.java
  src/test/java/com/poortorich/auth/jwt/util/JwtCookieManagerTest.java
  src/test/java/com/poortorich/auth/jwt/util/JwtTokenExtractorTest.java
  src/test/java/com/poortorich/auth/jwt/util/JwtTokenGeneratorTest.java
  src/test/java/com/poortorich/auth/jwt/validator/JwtTokenValidatorTest.java
  src/test/java/com/poortorich/auth/request/LoginRequestTest.java
  src/test/java/com/poortorich/auth/service/AuthServiceTest.java
  src/test/java/com/poortorich/auth/util/LoginRequestTestBuilder.java
  src/test/java/com/poortorich/global/config/BaseSecurityTest.java
  src/test/java/com/poortorich/security/filter/auth/JwtAuthenticationFilterTest.java
Labels: ✨Feature, 🗎Docs, ⚙️Setting, ✔️Test, 📬API

#48 [#47] 아이디, 닉네임 중복 검사 API 구현
  src/main/java/com/poortorich/security/constants/SecurityConstants.java
  src/main/java/com/poortorich/user/constants/UserResponseMessages.java
  src/main/java/com/poortorich/user/controller/UserController.java
  src/main/java/com/poortorich/user/facade/UserFacade.java
  src/main/java/com/poortorich/user/request/NicknameCheckRequest.java
  src/main/java/com/poortorich/user/request/UsernameCheckRequest.java
  src/main/java/com/poortorich/user/response/enums/UserResponse.java
  src/main/java/com/poortorich/user/service/RedisUserReservationService.java
  src/main/java/com/poortorich/user/service/UserValidationService.java
  src/test/java/com/poortorich/user/controller/UserControllerTest.java
  src/test/java/com/poortorich/user/facade/UserFacadeTest.java
  src/test/java/com/poortorich/user/request/NicknameCheckRequestTest.java
  src/test/java/com/poortorich/user/request/UsernameCheckRequestTest.java
  src/test/java/com/poortorich/user/service/RedisUserReservationServiceTest.java
  src/test/java/com/poortorich/user/service/UserValidationServiceTest.java
Labels: ✨Feature, ✔️Test, 📬API

#50 [#49] 서버 배포 전 코드 리팩터링
  src/main/java/com/poortorich/security/constants/SecurityConstants.java
  src/main/java/com/poortorich/security/filter/auth/JwtAuthenticationFilter.java
  src/test/java/com/poortorich/PoorToRichApplicationTests.java
  src/test/java/com/poortorich/expense/controller/ExpenseControllerTest.java
  src/test/java/com/poortorich/global/config/TestDataJpaConfig.java
Labels: 🛠️Refactor

#56 [#54] 응답 형식 리팩터링
  src/main/java/com/poortorich/global/response/BaseResponse.java
  src/main/java/com/poortorich/global/response/DataResponse.java
Labels: ✨Feature, 🛠️Refactor
